<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>CoinMarketCap</name>
	<displayName><![CDATA[CoinMarketCap]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[CoinMarketCap - crypto converter]]></description>
	<author><![CDATA[R-D]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
